<!-- Section: realty-reviews -->
<section class="realty-reviews">
    <h2 class="realty-reviews__title mb-3">
        <span class="realty-reviews__title-text mr-3">1 отзыв</span>
        <div class="realty-reviews__total-rating">

        </div>
    </h2>
    <div class="realty-reviews__list-of-realty-ratings mb-4">
        <app-list-of-realty-ratings></app-list-of-realty-ratings>
    </div>
    <div class="realty-reviews__list-of-reviews">
        <app-list-of-reviews></app-list-of-reviews>
    </div>
</section>
<!-- Section: realty-reviews -->