@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.realty {
  position: relative;
  margin-bottom: 0;
}
.realty__toggle-favorite {
  position: absolute;
  z-index: 2;
}
.realty__description {
  position: relative;
  padding: .75rem 0;
  z-index: 1;
}
.realty__prices,
.realty__details,
.realty__properties {
  list-style: none;
  padding: 0;
}
.realty__details {
  position: relative;
  padding-right: 50px;
  margin-bottom: 0;
  color: $text-muted;
}
.realty__detail {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &:not(:last-child):after {
    content: "|";
    padding-left: .25rem;
    padding-right: .25rem;
  }
}
.realty__properties {
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 24px;
  top: -36px;
  left: 1rem;
  right: 1rem;
  .icon_style_light {
    filter: drop-shadow(rgba(0,0,0,.24) 0 0 1px);
  }
}
.realty__address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.realty__link {
  color: $dark;
  transition: .24s;
  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}
.realty__title {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-transform: initial;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: .25rem;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2.4rem;
    right: 0;
    bottom: 0;
    background-color: $white;
    top: 0;
    box-shadow: $white 0 0 24px 24px;
  }
}

.bg-light {
  .realty__price-per-day,
  .realty__price,
  .realty__title:before {
    background-color: $light;
  }

  .realty__price,
  .realty__title:before {
    box-shadow: $light 0 0 24px 24px
  }
}

.realty__price-per-day,
.realty__price {
  display: flex;
  align-items: flex-start;
  position: absolute;
  right: 0;
  line-height: 1;
  background-color: $white;
  box-shadow: $white -15px 0 10px -5px;
}
.realty__price-currency {
  font-size: 1.125rem;
  margin-top: 5px;
}
.realty__price {
  top: .75rem;
  color: $secondary;
  font-size: 2.25rem;
}
.realty__price-per-day {
  bottom: .875rem;
  color: $gray-700;
  font-size: 1.125rem;
}
.realty__reliable-host {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 0;
}

.realty__editor {
  //position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
}

.realty_has-rights_edit {
  .realty__editor {
    display: block;
  }
  .realty__toggle-favorite {
    display: none;
  }
}
.realty__action {
  padding: $btn-padding-y-sm $btn-padding-x-sm;
}
.realty__status {
  position: absolute;
  left: -6px;
  top: 12px;
  padding: $badge-padding-y $badge-padding-x;
  border-radius: $badge-border-radius;
  color: $white;
  font-size: $font-size-sm;
}
.realty__status_state_success {
  background-color: $success;
}
.realty__status_state_warning {
  background-color: $warning;
}
.realty__status_state_danger {
  background-color: $danger;
}