@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.icon_style_dark {
  filter: brightness(0);
  fill: $dark;
}
.icon_style_gray {
  filter: brightness(0) invert(.5);
  fill: $gray-700;
}
.icon_style_light {
  filter: brightness(0) invert(1);
  fill: $light;
}

.icon_style_primary {
  fill: $primary;
}

