@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.booking-item__id {
  font-weight: normal;
}
.booking-item__price {
  color: $secondary;
}

@include media-breakpoint-up(sm) {
  .booking-item__communication {
    display: flex;
  }
  .booking-item__communication-body {
    flex: auto;
  }
}