@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.form-search-realty {
  position: relative;

  .form-control[readonly] {
    background-color: $white;
  }

  .input-group,
  .custom-select,
  .custom-control {
    &:hover,
    *:hover {
      cursor: pointer;
    }
  }
  .custom-control-label {
    display: block;
  }
}
.form-search-realty__search-by-complexes-col,
.form-search-realty__cityId-col {
  min-width: 270px;
}
.form-search-realty__id-col {
  min-width: 120px;
}
.form-search-realty__guests-col {
  min-width: 150px;
}
.form-search-realty__dateRange-col {
  min-width: 270px;
}
.form-search-realty__slider {
  margin: auto;
  min-width: 240px;
  max-width: 90%;
  max-width: calc(100% - 50px);
}
.form-search-realty__fieldset-list {
  .form-group {
    margin-bottom: .5rem;
  }
}
.form-search-realty__fieldset {
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.form-search-realty__options-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.form-search-realty__other-filters-toggle-button {
  &:not(.collapsed) {
    background-color: $primary;
    color: $white;
  }
}
.form-search-realty__cities-tabs-toggle {
  transition: $transition-base;
  &:not(.collapsed) {
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }
}

.form-search-realty__is_short {
  .col {
    flex: 1 15%;
  }
  .form-search-realty__cityId-col {
    flex: 1 35%;
  }
  .form-search-realty__show-booked,
  .form-search-realty__id-col,
  .form-search-realty__other-filters-col,
  .form-search-realty__search-by-complexes-col {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .form-search-realty__cities-tabs {
    margin-left: -1rem;
    margin-right: -1rem;
    &.collapse,
    &.collapsing {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 99;
    }
  }
}

@include media-breakpoint-up(xl) {
  .form-search-realty__search-by-complexes-button {
    max-width: 80%;
  }
}

@include media-breakpoint-down(sm) {
  .form-search-realty__search-col.col {
    flex: 100%;
  }
}