<app-page-header theme="dark"></app-page-header>

<!-- Page: page-add -->
<main class="page-add">
    <header class="page-add__header d-flex align-items-center text-center py-5">
        <div class="container">
            <h1 class="page-add__title">Сдайте свое жилье</h1>
            <div class="page-add__description lead">Качественно заполненное предложение повышает количество заказов</div>
        </div>
    </header>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="page-add__form-renting">
                    <app-form-renting></app-form-renting>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5">
            <div class="col-md-10 offset-md-1">
                <div class="page-add__ask-for-help">
                    <app-ask-for-help></app-ask-for-help>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /Page: page-add -->

<app-page-footer></app-page-footer>
