<main class="status404-page">
  <a routerLink="/index/">
    <img src="/assets/images/pages/status404-page/status404-page__logo.svg"
         alt="V.P.U.T."
         class="status404-page__logo">
  </a>
  <header class="status404-page__header">
    <div class="status404-page__header-container">
      <h1 class="status404-page__title">404</h1>
      <div class="status404-page__description">Похоже здесь никто не сдает жилье</div>
      <a routerLink="/search/"
         class="status404-page__link btn btn-primary btn-lg">Искать на других страницах</a>
    </div>
  </header>

  <div class="status404-page__island"
       style="background-image: url(/assets/images/pages/status404-page/status404-page__island.svg)"></div>

  <div class="status404-page__sea">
    <svg width="100%"
         height="100%"
         version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         class="status404-page__sea-wave">
      <title>Wave</title>
      <defs></defs>
      <path id="status404-page__feel-the-wave" d=""/>
    </svg>

    <svg width="100%"
         height="100%"
         version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         class="status404-page__sea-wave">
      <title>Wave</title>
      <defs></defs>
      <path id="status404-page__feel-the-wave-two" d=""/>
    </svg>
  </div>
</main>