@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.who-we-are__title {
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.who-we-are__description {
  line-height: 1;
  font-size: 1.5rem;
}
.who-we-are__realty-search-form {
  background-color: $light;
  border-radius: $card-border-radius;
}
.who-we-are__realty-search-form,
.who-we-are__popular-cities {
  max-width: 1024px;
  margin: auto;
}

@include media-breakpoint-up(md) {
  .who-we-are__realty-search-form {
    background-color: rgba(255,255,255,.3);
  }
  .who-we-are__title {
    font-size: 3.25rem;
  }
  .who-we-are__description {
    font-size: 2rem;
    font-weight: 400;
  }

  .who-we-are__realty-search-form {
    .custom-select {
      border-width: 0;
    }
  }
}