<section class="who-we-are">
    <header class="who-we-are__header mb-5 text-center">
        <h1 class="who-we-are__title mb-md-0">Портал №1 в Болгарии</h1>
        <div class="who-we-are__description">по безопасной аренде частного жилья</div>
    </header>
    <div class="who-we-are__form-search-realty pr-3 pl-3 pt-3">
        <app-form-search-realty
                layout="short"></app-form-search-realty>
    </div>
    <div class="who-we-are__popular-cities p-3">
        <app-popular-cities></app-popular-cities>
    </div>
</section>