<!-- Common: realty-image-slider -->
<div class="realty-image-slider">
    <ul class="realty-image-slider__images-list" data-slick>
        <li class="realty-image-slider__slide">
            <a data-fancybox="realty-image-slider"
               href="/content/images/realty/realty-example/realty-example__image-1.jpg"
               class="realty-image-slider__slide-link"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-1.jpg)"></a>
        </li>
        <li class="realty-image-slider__slide">
            <a data-fancybox="realty-image-slider"
               href="/content/images/realty/realty-example/realty-example__image-2.jpg"
               class="realty-image-slider__slide-link"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-2.jpg)"></a>
        </li>
        <li class="realty-image-slider__slide">
            <a data-fancybox="realty-image-slider"
               href="/content/images/realty/realty-example/realty-example__image-3.jpg"
               class="realty-image-slider__slide-link"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-3.jpg)"></a>
        </li>
        <li class="realty-image-slider__slide">
            <a data-fancybox="realty-image-slider"
               href="/content/images/realty/realty-example/realty-example__image-4.jpg"
               class="realty-image-slider__slide-link"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-4.jpg)"></a>
        </li>
        <li class="realty-image-slider__slide">
            <a data-fancybox="realty-image-slider"
               href="/content/images/realty/realty-example/realty-example__image-5.jpg"
               class="realty-image-slider__slide-link"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-5.jpg)"></a>
        </li>
        <li class="realty-image-slider__slide">
            <a data-fancybox="realty-image-slider"
               href="/content/images/realty/realty-example/realty-example__image-6.jpg"
               class="realty-image-slider__slide-link"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-6.jpg)"></a>
        </li>
    </ul>
    <ul class="realty-image-slider__nav" is-slider-nav>
        <li class="realty-image-slider__nav-item">
            <figure class="realty-image-slider__thumbnail"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-1.jpg);"></figure>
        </li>
        <li class="realty-image-slider__nav-item">
            <figure class="realty-image-slider__thumbnail"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-2.jpg);"></figure>
        </li>
        <li class="realty-image-slider__nav-item">
            <figure class="realty-image-slider__thumbnail"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-3.jpg);"></figure>
        </li>
        <li class="realty-image-slider__nav-item">
            <figure class="realty-image-slider__thumbnail"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-4.jpg);"></figure>
        </li>
        <li class="realty-image-slider__nav-item">
            <figure class="realty-image-slider__thumbnail"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-5.jpg);"></figure>
        </li>
        <li class="realty-image-slider__nav-item">
            <figure class="realty-image-slider__thumbnail"
               style="background-image: url(/assets/content/realty/realty-example/realty-example__image-6.jpg);"></figure>
        </li>
    </ul>
</div>
<!-- /Common: realty-image-slider -->