<div class="password-recovery-modal modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm"
         role="document">
        <div class="password-recovery-modal__content modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">Забыли пароль?</h2>
                <a
                   data-dismiss="modal"
                   class="close"><app-icon name="close" theme="light"></app-icon></a>
            </div>
            <div class="modal-body">
                <div class="mb-4">Пожалуйста, введите e-mail, который вы использовали при регистрации. На указанный e-mail будет отправлен код с дальнейшими инструкциями.</div>
                <div class="password-recovery-modal__password-recovery-form">
                    <app-password-recovery-form></app-password-recovery-form>
                </div>
            </div>
            <div class="password-recovery-modal__footer modal-footer">
                <a href="javascript: void(0)"
                   class="password-recovery-modal__footer-link"
                   data-toggle="modal"
                   data-target=".registration-modal"
                   data-dismiss="modal">Регистрация</a>
                <a href="javascript: void(0)"
                   class="password-recovery-modal__footer-link ml-4"
                   data-toggle="modal"
                   data-target=".authorization-modal"
                   data-dismiss="modal">Вход</a>
            </div>
        </div>
    </div>
</div>