<!-- Block: offer-item-carousel -->
<div class="offer-item-carousel">
    <button class="offer-item-carousel__arrow offer-item-carousel__arrow_slide_next slick-next slick-arrow"
            (click)="onActivate($event)"></button>
    <button class="offer-item-carousel__arrow offer-item-carousel__arrow_slide_prev slick-prev slick-arrow"
            (click)="onActivate($event)"></button>
    <nav class="offer-item-carousel__images-list"
         *ngIf="images"
         [style.background-image]="'url(https://vput.ru' + images[0].image + ')'"
         data-slick>
        <a href="javascript: void(0);"
           class="offer-item-carousel__link"
           *ngFor="let imageItem of images">
            <img [attr.data-lazy]="'https://vput.ru' + imageItem.image"
                 class="offer-item-carousel__image">
        </a>
    </nav>
</div>
<!-- /Block: offer-item-carousel -->