<!-- Block: offer-item-carousel -->
<div class="offer-item-carousel">
    <button class="offer-item-carousel__arrow offer-item-carousel__arrow_slide_next slick-next slick-arrow"
            aria-label="Next"
            type="button"></button>
    <button class="offer-item-carousel__arrow offer-item-carousel__arrow_slide_prev slick-prev slick-arrow"
            aria-label="Prev"
            type="button"></button>
    <nav class="offer-item-carousel__images-list"
         style="background-image: url(/assets/content/offers/previews/offer-item__preview-1.jpg);"
         data-slick-carousel>
        <a href="javascript: void(0);"  data-lazy="/assets/content/offers/previews/offer-item__preview-1.jpg"
            class="offer-item-carousel__image"></a>
        <a href="javascript: void(0);"  data-lazy="/assets/content/offers/previews/offer-item__preview-2.jpg"
            class="offer-item-carousel__image"></a>
        <a href="javascript: void(0);"  data-lazy="/assets/content/offers/previews/offer-item__preview-3.jpg"
            class="offer-item-carousel__image"></a>
        <a href="javascript: void(0);"  data-lazy="/assets/content/offers/previews/offer-item__preview-4.jpg"
            class="offer-item-carousel__image"></a>
    </nav>
</div>
<!-- /Block: offer-item-carousel -->