

<!-- Common: modal-registration -->
<div class="modal-registration modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm"
         role="document">
        <div class="modal-registration__content modal-content">
            <a
               data-dismiss="modal"
               class="close"><app-icon name="close" theme="light"></app-icon></a>
            <div class="modal-body">
                <app-form-registration></app-form-registration>
            </div>
            <div class="modal-registration__footer modal-footer">
                <a href="javascript: void(0);" class="modal-registration__authorization-link"
                   data-toggle="modal"
                   data-dismiss="modal"
                   data-target=".modal-authorization">Войти</a>
            </div>
        </div>
    </div>
</div>
<!-- /Common: modal-registration -->