<!-- Section: realty-bedrooms -->
<section class="realty-bedrooms" *ngIf="bedrooms">
    <h2 class="realty-bedrooms__title mb-3">{{ bedrooms[0].property_value.property.name.ru }}</h2>
    <ul class="properties row">
        <li class="properties__item col-md-6" *ngFor="let bedroom of bedrooms">
            <app-property [property]="bedroom"></app-property>
        </li>

        <li class="properties__item col-md-6 border-top">
            <figure class="property">
                <app-icon name="sofa" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Диван раскладной:</label>
                    <div class="property__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="single-bed" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Односпальная кровать:</label>
                    <div class="property__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="bed" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Двуспальная сплошная:</label>
                    <div class="property__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="beds" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Двуспальная раздвижная:</label>
                    <div class="property__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="crib" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Детская кровать:</label>
                    <div class="property__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="lounge" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Кресло раскладное:</label>
                    <div class="property__value">1</div>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
<!-- /Section: realty-bedrooms -->