<!-- Common: review -->
<figure class="review" *ngIf="review">
    <figure class="review__user">
        <div class="review__user-avatar mb-2">
            <app-user-avatar [avatar]="review.author.details.avatar"></app-user-avatar>
        </div>
        <figcaption class="user__description">{{review.author.details.name}}</figcaption>
    </figure>
    <figcaption class="review__content">
        <time class="review__created-at">{{review.date}}</time>
        <div class="review__review-rating">
            <app-review-rating [rate]="review.rate"></app-review-rating>
        </div>
        <div class="review__message">{{review.text}}</div>
    </figcaption>
</figure>
<!-- /Common: review -->