<!-- Common: review -->
<figure class="review" *ngIf="review">
    <figure class="review__user">
        <div class="review__avatar mb-2">
            <app-avatar [avatar]="review.author.details.avatar"></app-avatar>
        </div>
        <figcaption class="user__description">{{review.author.details.name}}</figcaption>
    </figure>
    <figcaption class="review__content">
        <time class="review__created-at">{{review.date}}</time>
        <div class="review__rating">
            <app-rating [rate]="review.rate"></app-rating>
        </div>
        <div class="review__message">
            <ng-container *ngIf="maxLength">
                {{review.text | slice:0:maxLength}}
                <span *ngIf="review.text.length > maxLength">...</span>
            </ng-container>
            <ng-container *ngIf="!maxLength">{{review.text}}</ng-container>
        </div>
    </figcaption>
</figure>
<!-- /Common: review -->