<!-- Section: properties -->
<section class="properties">
    <h2 class="property__title mb-3">Характеристики:</h2>
    <ul class="properties row">
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="building" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Тип жилья:</label>
                    <div class="property__value">Этаж</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="stairs" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Всего этажей:</label>
                    <div class="property__value">1 / 4</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="cleaning" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Уборка:</label>
                    <div class="property__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="towel" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Смена белья:</label>
                    <div class="property__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="parking" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Парковка:</label>
                    <div class="property__value">Нет</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="wifi" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Интернет:</label>
                    <div class="property__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="balcony" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Балкон:</label>
                    <div class="property__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="window" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Вид из окон:</label>
                    <div class="property__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="bucket" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Заказать уборку:</label>
                    <div class="property__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="add-guest" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Доплата за каждого последующего гостя:</label>
                    <div class="property__value text-secondary">€0</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="hot-towel" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Заказать смену белья:</label>
                    <div class="property__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="final-cleaning" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Доплата за финальную уборку:</label>
                    <div class="property__value text-secondary">Не требуется</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="safe-box" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Невозвратный депозит:</label>
                    <div class="property__value text-secondary">15%
                        <app-icon
                            name="information"
                            class="ml-2"
                            data-toggle="tooltip"
                            data-placement="right"
                            data-html="true"
                            title="&lt;strong&gt;Невозвратный депозит&lt;/strong&gt; - сумма, которая не возвращается Гостю в случае одностороннего отказа от бронирования с его стороны."></app-icon>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="credit-card" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Предоплата:</label>
                    <div class="property__value text-secondary">50%
                        <app-icon
                            name="information" class="ml-2"
                            data-toggle="tooltip"
                            data-placement="right"
                            data-html="true"
                            title="&lt;strong&gt;Предоплата&lt;/strong&gt; – сумма первой оплаты, которую необходимо совершить непосредственно на сайте. Обычно она равняется сумме «невозвратного депозита». В случае, если у Владельца нет возможности принять деньги наличными на месте, он может указать 100% предоплаты, чтобы после заселения Гостя получить все деньги от компании V.P.U.T. Это никак не влияет на сумму «невозвратного депозита»."></app-icon>
                    </div>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
<!-- /Section: properties -->