<!-- Form: realty-search-form -->
<form class="realty-search-form"
      (ngSubmit)="onSubmit()"
      [class.realty-search-form_is_short]="layout == 'short'">

    <fieldset class="realty-search-form__main-fieldset">
        <ul class="form-row">
            <li class="realty-search-form__cityId-col form-group col">
                <input type="hidden"
                       name="filter[cityId]">
                <input class="realty-search-form__cities-tabs-toggle custom-select disabled custom-select-lg collapsed"
                       readonly
                       onfocus="this.blur()"
                       placeholder="Куда вы собираетесь поехать?"
                       data-toggle="collapse"
                       data-target=".realty-search-form__cities-tabs">
            </li>
            <li class="realty-search-form__dateRange-col form-group col">
                <nz-range-picker [nzSize]="'large'"></nz-range-picker>
            </li>
            <li class="form-group col d-none">
                <input name="filter[endDate]"
                       class="custom-select custom-select-lg"
                       placeholder="Выезд">
            </li>
            <li class="realty-search-form__guests-col form-group col">
                <select name="filters[guests]"
                        id="guests"
                        class="custom-select custom-select-lg">
                    
                    <option value="1">1 гость</option>
                    
                    <option value="2">2 гостя</option>
                    
                    <option value="3">3 гостя</option>
                    
                    <option value="4">4 гостя</option>
                    
                    <option value="5">5 гостей</option>
                    
                    <option value="6">6 гостей</option>
                    
                    <option value="7">7 гостей</option>
                    
                    <option value="8">8 гостей</option>
                    
                    <option value="9">9 гостей</option>
                    
                    <option value="10">10 гостей</option>
                    
                </select>
            </li>
            <li class="realty-search-form__search-by-complexes-col form-group col">
                <button type="submit"
                        class="realty-search-form__search-by-complexes-button btn btn-outline-primary btn-lg w-100">Искать по комплексам</button>
            </li>
            <li class="realty-search-form__other-filters-col form-group col">
                <a
                   class="realty-search-form__other-filters-toggle-button btn btn-outline-primary btn-lg w-100 collapsed"
                   data-toggle="collapse"
                   data-target=".realty-search-form__other-filters">Ещё фильтры</a>
            </li>
            <li class="realty-search-form__id-col form-group col">
                <input type="number"
                       name="filters[id]"
                       class="form-control form-control-lg"
                       placeholder="ID">
            </li>
            <li class="realty-search-form__search-col form-group col">
                <button type="submit"
                        class="realty-search-form__search-button btn btn-secondary btn-lg w-100">Найти</button>
            </li>
        </ul>
    </fieldset>

    <div class="realty-search-form__show-booked custom-control custom-checkbox">
        <input type="checkbox"
               class="realty-search-form__show-booked-control custom-control-input"
               id="realty-search-form__show-booked-control"
               name="filters[doNotShowBooked]">
        <label class="custom-control-label"
               for="realty-search-form__show-booked-control">Не показывать забронированные</label>
    </div>

    <div class="realty-search-form__cities-tabs collapse">
        <app-cities-tabs></app-cities-tabs>
    </div>

    <!-- Other filters -->
    <div class="realty-search-form__other-filters collapse">
        <fieldset class="realty-search-form__fieldset">
            <div class="form-row align-items-center">
                <legend class="realty-search-form__legend col-md-3 text-center text-md-left mb-md-0 mt-md-3">Цена в сутки</legend>
                <nz-slider nzRange [nzDefaultValue]="[0, 768]" class="d-block col-md"></nz-slider>
            </div>
        </fieldset>

        <fieldset class="realty-search-form__fieldset pt-3">
            <ul class="realty-search-form__options-list form-row">
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="home"></app-icon>
                            </div>
                        </div>
                        <label for="realty-search-form__home"
                               class="form-control">Дом</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[realtyTypes][2]"
                                       class="custom-control-input"
                                       id="realty-search-form__home">
                                <label class="custom-control-label"
                                       for="realty-search-form__home"></label>
                            </div>
                        </div>
                    </div>
                    <!-- /Input Group -->
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="building"></app-icon>
                            </div>
                        </div>
                        <label for="realty-search-form__apartment"
                               class="form-control">Квартира</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[realtyTypes][1]"
                                       class="custom-control-input"
                                       id="realty-search-form__apartment">
                                <label class="custom-control-label"
                                       for="realty-search-form__apartment"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="icon icon__room"></span></div>
                        </div>
                        <label for="realty-search-form__room"
                               class="form-control">Комната</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[realtyTypes][28]"
                                       class="custom-control-input"
                                       id="realty-search-form__room">
                                <label class="custom-control-label"
                                       for="realty-search-form__room"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="hotel"></app-icon>
                            </div>
                        </div>
                        <label for="realty-search-form__hotel"
                               class="form-control">Гостиница</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[realtyTypes][31]"
                                       class="custom-control-input"
                                       id="realty-search-form__hotel">
                                <label class="custom-control-label"
                                       for="realty-search-form__hotel"></label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </fieldset>

        <fieldset class="realty-search-form__fieldset pt-3">
            <ul class="realty-search-form__options-list form-row">
                <li class="form-group col-xl-3 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="door"></app-icon>
                            </div>
                        </div>
                        <select class="custom-select"
                                name="filters[rooms]">
                            <option selected
                                    disabled>Кол-во комнат</option>
                            
                            <option value="1">1 комната</option>
                            
                            <option value="2">2 комнаты</option>
                            
                            <option value="3">3 комнаты</option>
                            
                            <option value="4">4 комнаты</option>
                            
                            <option value="5">5 комнат</option>
                            
                            <option value="6">6 комнат</option>
                            
                            <option value="7">7 комнат</option>
                            
                            <option value="8">8 комнат</option>
                            
                            <option value="9">9 комнат</option>
                            
                            <option value="10">10 комнат</option>
                            
                        </select>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="bathroom"></app-icon>
                            </div>
                        </div>
                        <select class="custom-select"
                                name="filters[bathRooms]">
                            <option selected
                                    disabled>Кол-во ванных</option>
                            
                            <option value="1">1 ванная комната</option>
                            
                            <option value="2">2 ванные комнаты</option>
                            
                            <option value="3">3 ванные комнаты</option>
                            
                            <option value="4">4 ванные комнаты</option>
                            
                            <option value="5">5 ванных комнат</option>
                            
                            <option value="6">6 ванных комнат</option>
                            
                            <option value="7">7 ванных комнат</option>
                            
                            <option value="8">8 ванных комнат</option>
                            
                            <option value="9">9 ванных комнат</option>
                            
                            <option value="10">10 ванных комнат</option>
                            
                        </select>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="bed"></app-icon>
                            </div>
                        </div>
                        <select class="custom-select"
                                name="filters[beds]">
                            <option selected
                                    disabled>Кол-во кроватей</option>
                            
                            <option value="1">1 кровать</option>
                            
                            <option value="2">2 кровати</option>
                            
                            <option value="3">3 кровати</option>
                            
                            <option value="4">4 кровати</option>
                            
                            <option value="5">5 кроватей</option>
                            
                            <option value="6">6 кроватей</option>
                            
                            <option value="7">7 кроватей</option>
                            
                            <option value="8">8 кроватей</option>
                            
                            <option value="9">9 кроватей</option>
                            
                            <option value="10">10 кроватей</option>
                            
                        </select>
                    </div>
                </li>
            </ul>
        </fieldset>

        <ul class="realty-search-form__fieldset-list row pt-3">
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Удобства</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][266]"
                                       class="custom-control-input"
                                       id="realty-search-form__parking">
                                <label class="custom-control-label"
                                       for="realty-search-form__parking">Паркинг</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][254]"
                                       class="custom-control-input"
                                       id="realty-search-form__pool">
                                <label class="custom-control-label"
                                       for="realty-search-form__pool">Бассейн</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][259]"
                                       class="custom-control-input"
                                       id="realty-search-form__spa">
                                <label class="custom-control-label"
                                       for="realty-search-form__spa">СПА</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][245]"
                                       class="custom-control-input"
                                       id="realty-search-form__lift">
                                <label class="custom-control-label"
                                       for="realty-search-form__lift">Лифт</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Оборудование</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][243]"
                                       class="custom-control-input"
                                       id="realty-search-form__air-conditioning">
                                <label class="custom-control-label"
                                       for="realty-search-form__air-conditioning">Кондиционер</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][271]"
                                       class="custom-control-input"
                                       id="realty-search-form__cooker">
                                <label class="custom-control-label"
                                       for="realty-search-form__cooker">Плита</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][270]"
                                       class="custom-control-input"
                                       id="realty-search-form__refrigerator">
                                <label class="custom-control-label"
                                       for="realty-search-form__refrigerator">Холодильник</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][287]"
                                       class="custom-control-input"
                                       id="realty-search-form__tv">
                                <label class="custom-control-label" for="realty-search-form__tv">Телевизор</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][280]"
                                       value="280"
                                       class="custom-control-input"
                                       id="realty-search-form__washer">
                                <label class="custom-control-label" for="realty-search-form__washer">Стиральная машина</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Правила дома</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][247]"
                                       class="custom-control-input"
                                       id="realty-search-form__smoking">
                                <label class="custom-control-label"
                                       for="realty-search-form__smoking">Курить</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][80]"
                                       class="custom-control-input"
                                       id="realty-search-form__children">
                                <label class="custom-control-label"
                                       for="realty-search-form__children">С детьми</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][240]"
                                       class="custom-control-input"
                                       id="realty-search-form__pets">
                                <label class="custom-control-label"
                                       for="realty-search-form__pets">Домашние питомцы</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Сортировка</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       name="filters[sorting]"
                                       class="custom-control-input"
                                       id="realty-search-form__sorting_from_cheap-to-expensive">
                                <label class="custom-control-label"
                                       for="realty-search-form__sorting_from_cheap-to-expensive">От дешевого к дорогому</label>
                            </div>
                        </li>

                        <li class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       name="filters[sorting]"
                                       class="custom-control-input"
                                       id="realty-search-form__sorting_from_expensive-to-cheap">
                                <label class="custom-control-label"
                                       for="realty-search-form__sorting_from_expensive-to-cheap">От дорогого к дешевому</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
        </ul>
    </div>
    <!-- /Other filters -->
</form>
<!-- /Form: realty-search-form -->