<form class="realty-search-form"
      (submit)="onSubmit($event)"
      [class.realty-search-form_is_short]="layout == 'short'">
    <fieldset class="realty-search-form__main-fieldset">
        <ul class="form-row">
            <li class="realty-search-form__cityId-col form-group col">
                <input class="realty-search-form__cities-tabs-toggle custom-select disabled custom-select-lg collapsed"
                       readonly
                       onfocus="this.blur()"
                       placeholder="Куда вы собираетесь поехать?"
                       data-toggle="collapse"
                       data-target=".realty-search-form__cities-tabs">
            </li>
            <li class="realty-search-form__dateRange-col form-group col">
                <nz-range-picker [nzSize]="'large'"></nz-range-picker>
            </li>
            <li class="realty-search-form__guests-col form-group col">
                <select name="filters[guests]"
                        [(ngModel)]="model.filters.guests"
                        required
                        id="guests"
                        class="custom-select custom-select-lg">
                    <option selected
                            disabled>Кол-во гостей</option>
                    <option *ngFor="let guest of guests"
                            [value]="guest">{{guest}} гость</option>
                </select>
            </li>
            <li class="realty-search-form__search-by-complexes-col form-group col">
                <button type="submit"
                        class="btn btn-outline-primary btn-lg w-100">Искать по комплексам</button>
            </li>
            <li class="realty-search-form__other-filters-col form-group col">
                <a  href="javascript: return void(0)"
                    data-toggle="collapse"
                    data-target=".realty-search-form__other-filters"
                    class="btn btn-outline-primary btn-lg w-100 collapsed">Ещё фильтры</a>
            </li>
            <li class="realty-search-form__id-col form-group col">
                <input type="number"
                       name="filters[id]"
                       placeholder="ID"
                       class="form-control form-control-lg">
            </li>
            <li class="realty-search-form__search-col form-group col">
                <button type="submit"
                        class="btn btn-secondary btn-lg w-100">Найти</button>
            </li>
        </ul>
    </fieldset>

    <div class="realty-search-form__show-booked custom-control custom-checkbox">
        <input type="checkbox"
               name="filters[showBooked]"
               [(ngModel)]="model.filters.showBooked"
               id="realty-search-form__show-booked-control"
               class="realty-search-form__show-booked-control custom-control-input">
        <label class="custom-control-label"
               for="realty-search-form__show-booked-control">Не показывать забронированные</label>
    </div>

    <div class="realty-search-form__cities-tabs collapse">
        <app-cities-tabs></app-cities-tabs>
    </div>

    <!-- Other filters -->
    <div class="realty-search-form__other-filters collapse">
        <fieldset class="realty-search-form__fieldset d-none">
            <div class="form-row align-items-center">
                <legend class="realty-search-form__legend col-md-3 text-center text-md-left mb-md-0 mt-md-3">Цена в сутки</legend>
                <!--<nz-slider [nzRange]-->
                           <!--[nzDefaultValue]="[0, 768]"-->
                           <!--class="d-block col-md"></nz-slider>-->
            </div>
        </fieldset>

        <fieldset class="realty-search-form__fieldset pt-3">
            <ul class="realty-search-form__options-list form-row">
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="home"></app-icon>
                            </div>
                        </div>
                        <label for="realty-search-form__home"
                               class="form-control">Дом</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[categories][]"
                                       (click)="model.toggleCategoryId(2)"
                                       id="realty-search-form__home"
                                       class="custom-control-input">
                                <label class="custom-control-label"
                                       for="realty-search-form__home"></label>
                            </div>
                        </div>
                    </div>
                    <!-- /Input Group -->
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="building"></app-icon>
                            </div>
                        </div>
                        <label for="realty-search-form__apartment"
                               class="form-control">Квартира</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[categories][]"
                                       (click)="model.toggleCategoryId(1)"
                                       id="realty-search-form__apartment"
                                       class="custom-control-input">
                                <label class="custom-control-label"
                                       for="realty-search-form__apartment"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="icon icon__room"></span></div>
                        </div>
                        <label for="realty-search-form__room"
                               class="form-control">Комната</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[categories][]"
                                       (click)="model.toggleCategoryId(3)"
                                       id="realty-search-form__room"
                                       class="custom-control-input">
                                <label class="custom-control-label"
                                       for="realty-search-form__room"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <!-- Input Group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="hotel"></app-icon>
                            </div>
                        </div>
                        <label for="realty-search-form__hotel"
                               class="form-control">Гостиница</label>
                        <div class="input-group-append">
                            <div class="custom-control custom-checkbox input-group-text">
                                <input type="checkbox"
                                       name="filters[categories][]"
                                       (click)="model.toggleCategoryId(31)"
                                       id="realty-search-form__hotel"
                                       class="custom-control-input">
                                <label class="custom-control-label"
                                       for="realty-search-form__hotel"></label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </fieldset>

        <fieldset class="realty-search-form__fieldset pt-3">
            <ul class="realty-search-form__options-list form-row">
                <li class="form-group col-xl-3 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="door"></app-icon>
                            </div>
                        </div>
                        <select class="custom-select"
                                name="filters[rooms]"
                                [(ngModel)]="model.filters.rooms">
                            <option selected
                                    disabled>Кол-во комнат</option>
                            <option *ngFor="let room of rooms"
                                    [value]="room">{{room}} комната</option>
                        </select>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="bathroom"></app-icon>
                            </div>
                        </div>
                        <select class="custom-select"
                                name="filters[bathRooms]"
                                [(ngModel)]="model.filters.bathRooms">
                            <option selected
                                    disabled>Кол-во ванных</option>
                            <option *ngFor="let bathRoom of bathRooms"
                                    [value]="bathRoom">{{bathRoom}} ванн</option>
                        </select>
                    </div>
                </li>
                <li class="form-group col-xl-3 col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <app-icon name="bed"></app-icon>
                            </div>
                        </div>
                        <select class="custom-select"
                                name="filters[beds]"
                                [(ngModel)]="model.filters.beds">
                            <option selected
                                    disabled>Кол-во кроватей</option>
                            <option *ngFor="let bed of beds"
                                    [value]="bed">{{bed}} кроватей</option>
                        </select>
                    </div>
                </li>
            </ul>
        </fieldset>

        <ul class="realty-search-form__fieldset-list row pt-3">
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Удобства</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(266)"
                                       class="custom-control-input"
                                       id="realty-search-form__parking">
                                <label class="custom-control-label"
                                       for="realty-search-form__parking">Паркинг</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(254)"
                                       class="custom-control-input"
                                       id="realty-search-form__pool">
                                <label class="custom-control-label"
                                       for="realty-search-form__pool">Бассейн</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(259)"
                                       class="custom-control-input"
                                       id="realty-search-form__spa">
                                <label class="custom-control-label"
                                       for="realty-search-form__spa">СПА</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(245)"
                                       class="custom-control-input"
                                       id="realty-search-form__lift">
                                <label class="custom-control-label"
                                       for="realty-search-form__lift">Лифт</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Оборудование</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(243)"
                                       class="custom-control-input"
                                       id="realty-search-form__air-conditioning">
                                <label class="custom-control-label"
                                       for="realty-search-form__air-conditioning">Кондиционер</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(271)"
                                       class="custom-control-input"
                                       id="realty-search-form__cooker">
                                <label class="custom-control-label"
                                       for="realty-search-form__cooker">Плита</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(270)"
                                       class="custom-control-input"
                                       id="realty-search-form__refrigerator">
                                <label class="custom-control-label"
                                       for="realty-search-form__refrigerator">Холодильник</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(287)"
                                       class="custom-control-input"
                                       id="realty-search-form__tv">
                                <label class="custom-control-label" for="realty-search-form__tv">Телевизор</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(280)"
                                       class="custom-control-input"
                                       id="realty-search-form__washer">
                                <label class="custom-control-label" for="realty-search-form__washer">Стиральная машина</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Правила дома</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(247)"
                                       class="custom-control-input"
                                       id="realty-search-form__smoking">
                                <label class="custom-control-label"
                                       for="realty-search-form__smoking">Курить</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(80)"
                                       class="custom-control-input"
                                       id="realty-search-form__children">
                                <label class="custom-control-label"
                                       for="realty-search-form__children">С детьми</label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="filters[parameters][]"
                                       (click)="model.toggleParameterId(240)"
                                       class="custom-control-input"
                                       id="realty-search-form__pets">
                                <label class="custom-control-label"
                                       for="realty-search-form__pets">Домашние питомцы</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
            <li class="col-xl-3 col-sm-6 mb-3">
                <fieldset class="realty-search-form__fieldset">
                    <legend class="realty-search-form__legend">Сортировка</legend>
                    <ul class="realty-search-form__options-list">
                        <li class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       value="asc"
                                       name="sort"
                                       [(ngModel)]="model.sort"
                                       class="custom-control-input"
                                       id="realty-search-form__sorting_from_cheap-to-expensive">
                                <label class="custom-control-label"
                                       for="realty-search-form__sorting_from_cheap-to-expensive">От дешевого к дорогому</label>
                            </div>
                        </li>

                        <li class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio"
                                       value="desc"
                                       name="sort"
                                       [(ngModel)]="model.sort"
                                       class="custom-control-input"
                                       id="realty-search-form__sorting_from_expensive-to-cheap">
                                <label class="custom-control-label"
                                       for="realty-search-form__sorting_from_expensive-to-cheap">От дорогого к дешевому</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </li>
        </ul>
    </div>
    <!-- /Other filters -->
</form>