

<!-- Common: offer-owner -->
<div class="offer-owner">
    <figure class="offer-owner__about">
        <div class="offer-owner__user-avatar">
            <app-user-avatar></app-user-avatar>
            <app-icon name="reliable-host" size="2" class="offer-owner__reliable-host"></app-icon>
        </div>
        <figcaption class="offer-owner__info">
            <h4 class="offer-owner__info-title">Языки владельца:</h4>
            <ul class="offer-owner__languages-list">
                <li class="offer-owner__languages-list-item">english</li>
                <li class="offer-owner__languages-list-item">russian</li>
                <li class="offer-owner__languages-list-item">ukrainian</li>
            </ul>
            <a
               class="offer-owner__contacts-link"
               data-toggle="collapse"
               data-target=".offer-owner__message-collapse">Мои контакты</a>
            <div class="offer-owner__name">Алекс</div>
        </figcaption>
    </figure>
    <div class="offer-owner__message-collapse collapse">
        <div class="offer-owner__message mt-3">
            <p>Я буду рад обсудить с вами любые вопросы внутри сервиса.</p>
            <p>Мои прямые контакты вы получите после заключения сделки.</p>
            <a routerLink="/user-agreement-ru/"
               target="_blank"
               class="offer-owner__message-link">Почему так?</a>
        </div>
    </div>
</div>
<!-- /Common: offer-owner -->