<!-- Section: realty-places-nearby -->
<section class="realty-places-nearby">
    <h2 class="realty-places-nearby__title mb-3">Поблизости:</h2>
    <ul class="properties row">
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="beach" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Пляж:</label>
                    <div class="property__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="bus" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Автобусная остановка:</label>
                    <div class="property__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="cutlery" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Ресторан:</label>
                    <div class="property__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="pin" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Центр города:</label>
                    <div class="property__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="airplane" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Аэропорт:</label>
                    <div class="property__value">40 км</div>
                </figcaption>
            </figure>
        </li>
        <li class="properties__item col-md-6">
            <figure class="property">
                <app-icon name="lift" class="mr-3"></app-icon>
                <figcaption class="property__caption">
                    <label class="property__label">Подьемник:</label>
                    <div class="property__value">40 км</div>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
<!-- /Section: realty-places-nearby -->