<!-- Section: realty-places-nearby -->
<section class="realty-places-nearby">
    <h2 class="realty-places-nearby__title mb-3">Поблизости:</h2>
    <ul class="list-of-realty-characteristics row">
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="beach" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Пляж:</label>
                    <div class="realty-characteristic__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="bus" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Автобусная остановка:</label>
                    <div class="realty-characteristic__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="cutlery" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Ресторан:</label>
                    <div class="realty-characteristic__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="pin" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Центр города:</label>
                    <div class="realty-characteristic__value">100 м</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="airplane" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Аэропорт:</label>
                    <div class="realty-characteristic__value">40 км</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="lift" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Подьемник:</label>
                    <div class="realty-characteristic__value">40 км</div>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
<!-- /Section: realty-places-nearby -->