<app-page-header></app-page-header>

<!-- Page: page-complex -->
<main class="page-complex">
    <div class="pt-4 pb-2 border-bottom">
        <div class="container">
            <div class="page-complex__realty-search-form">
                <app-realty-search-form layout="short"></app-realty-search-form>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <section class="page-complex__section mb-4">
            <header class="page-complex__header">
                <h1 class="page-complex__title">Sunny View North,
                    <a href="javascript: void(0);" class="page-complex__city">Святой Влас, Болгария</a>
                </h1>
            </header>
            <div class="page-complex__complex-tabs">
                <app-complex-tabs></app-complex-tabs>
            </div>
        </section>
        <div class="page-complex__nearest-complexes">
            <app-nearest-complexes></app-nearest-complexes>
        </div>
    </div>
</main>
<!-- /Page: page-complex -->

<app-page-footer></app-page-footer>
