<app-page-header theme="dark"></app-page-header>

<!-- Page: page-bookings -->
<main class="page-bookings">
    <header class="page-cabinet__header py-4">
        <div class="container">
            <h1 class="page-cabinet__title mb-0">Ваши бронирования</h1>
        </div>
    </header>
    <div class="container py-4">
        <div class="row">
            <div class="col-xl-3 d-none d-xl-block">
                <aside class="page-bookings__aside">
                    <app-cabinet-navigation></app-cabinet-navigation>
                </aside>
            </div>
            <div class="col-xl-9">
                <div class="page-bookings__form-bookings-filter mb-4">
                    <app-form-bookings-filter></app-form-bookings-filter>
                </div>
                <ul class="list-unstyled">
                    <li class="page-booking__booking-item mb-4">
                        <app-booking-item></app-booking-item>
                    </li>
                    <li class="page-booking__booking-item mb-4">
                        <app-booking-item></app-booking-item>
                    </li>
                    <li class="page-booking__booking-item mb-4">
                        <app-booking-item></app-booking-item>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!-- /Page: page-bookings -->

<app-page-footer></app-page-footer>
