<!-- Section: latest-offers -->
<section class="latest-offers">
    <header class="latest-offers__header mb-4 text-center">
        <h2 class="latest-offers__title mb-0">Самые новые предложения</h2>
        <div class="latest-offers__description lead text-muted">Последние предложения, поступившие на наш сайт</div>
    </header>
    <div class="latest-offers__list-of-offers">
        <!-- List of offers -->
        <ul class="list-of-offers row" data-slick-adaptive>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item id="768"></app-offer-item>
            </li>
            
        </ul>
        <!-- /List of offers -->
    </div>
    <div class="latest-offers__link-container mt-3 text-center">
        <a routerLink="/search/" class="btn btn-primary btn-lg">Посмотреть больше предложений</a>
    </div>
</section>
<!-- /Section: latest-offers -->