<div class="cities-tabs" *ngIf="cities">
    <ul class="cities-tabs__header nav nav-tabs"
        role="tablist">
        <li class="nav-item">
            <a href="javascript: void(0);"
               class="nav-link active"
               data-toggle="tab"
               data-target=".cities-tabs__nav_country_bulgaria"
               role="tab"
               aria-selected="true">Болгария ({{numberOfRealtyInBulgaria}})</a>
        </li>
        <li class="nav-item">
            <a href="javascript: void(0);" class="nav-link"
               data-toggle="tab"
               data-target=".cities-tabs__nav_country_all"
               role="tab"
               aria-selected="true">Другие ({{numberOfRealtyInOtherCountries}})</a>
        </li>
    </ul>
    <div class="cities-tabs__content tab-content bg-white">
        <nav class="cities-tabs__nav cities-tabs__nav_country_bulgaria tab-pane fade active show"
             role="tabpanel">
            <ng-container *ngFor="let city of cities">
            <a *ngIf="city.country.alias == 'bulgaria'"
               href="javascript: void(0);"
               data-id="{{city.id}}"
               data-name="{{city.name.ru}}"
               class="cities-tabs__link">
                {{city.name.ru}}
                <span class="cities-tabs__count-realty badge badge-primary">{{ city.numberOfRealty}}</span>
            </a>
            </ng-container>
        </nav>
        <nav class="cities-tabs__nav cities-tabs__nav_country_all tab-pane fade"
             role="tabpanel">
            <ng-container *ngFor="let city of cities">
                <a *ngIf="city.country.alias != 'bulgaria'"
                   href="javascript: void(0);"
                   data-id="{{city.id}}"
                   data-name="{{city.name.ru}}, {{city.country.name.ru}}"
                   class="cities-tabs__link">
                    {{city.name.ru}}, {{city.country.name.ru}}
                    <span class="cities-tabs__count-realty badge badge-primary">{{city.numberOfRealty}}</span>
                </a>
            </ng-container>
        </nav>
    </div>
</div>