<div class="cities-tabs">
    <ul class="cities-tabs__header nav nav-tabs"
        role="tablist">
        <li class="nav-item">
            <a href="javascript: void(0);"
               class="nav-link active"
               data-toggle="tab"
               data-target=".cities-tabs__nav_country_bulgaria"
               role="tab"
               aria-selected="true">Болгария ({{countOffersOfCitiesOfBulgaria}})</a>
        </li>
        <li class="nav-item">
            <a href="javascript: void(0);" class="nav-link"
               data-toggle="tab"
               data-target=".cities-tabs__nav_country_all"
               role="tab"
               aria-selected="true">Другие ({{countOffersOfAllCities}})</a>
        </li>
    </ul>
    <div class="cities-tabs__content tab-content bg-white">
        <nav class="cities-tabs__nav cities-tabs__nav_country_bulgaria tab-pane fade active show"
             role="tabpanel">
            <a *ngFor="let city of citiesOfBulgaria"
               href="javascript: void(0);"
               data-id="{{city.id}}"
               data-name="{{city.name}}"
               class="cities-tabs__link">
                {{city.name}}
                <span class="cities-tabs__count-offers badge badge-primary">{{city.count_offers}}</span>
            </a>
        </nav>
        <nav class="cities-tabs__nav cities-tabs__nav_country_all tab-pane fade"
             role="tabpanel">
            <a *ngFor="let city of allCities"
               href="javascript: void(0);"
               data-id="{{city.id}}"
               data-name="{{city.name}}, {{city.country}}"
               class="cities-tabs__link">
                {{city.name}}, {{city.country}}
                <span class="cities-tabs__count-offers badge badge-primary">{{city.count_offers}}</span>
            </a>
        </nav>
    </div>
</div>