<!-- Section: complex-offers -->
<section class="complex-offers">
    <h2 class="complex-offers__title mb-3">Другие предложения из этого комплекса</h2>
    <ul class="complex-offers__list row">
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
        <li class="complex-offers__list-item col-md-6 col-lg-4 col-xl-3 mb-3">
            <app-offer-item [offer]="768"></app-offer-item>
        </li>
        
    </ul>
</section>
<!-- /Section: complex-offers -->