@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.password-change-form__header {
  cursor: pointer;
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $card-spacer-x;
    margin: auto;
  }
}