

<!-- Common: offer-interested-in -->
<div class="offer-interested-in">
    <figure class="offer-interested-in__how-much">
        <div class="offer-interested-in__how-much-number">13</div>
        <figcaption class="offer-interested-in__how-much-description">человек интересовались этим объектом</figcaption>
    </figure>
    <figure class="offer-interested-in__time">
        <app-icon name="time-in" size="2" class="offer-interested-in__time-icon"></app-icon>
        <figcaption class="offer-interested-in__description">данные подсчитаны за прошлые сутки</figcaption>
    </figure>
</div>
<!-- /Common: offer-interested-in -->