@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.realty-facilities__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.realty-facilities__list-item {
  margin-bottom: .75rem;
  color: $text-muted;
  text-decoration: line-through;
  margin-left: 32px;
}
.realty-facilities__list-item_is_checked {
  position: relative;
  text-decoration: none;
  color: initial;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -28px;
    margin: auto;
    height: 16px;
    width: 16px;
    background-image: url(/assets/images/common/icon/icon__tick.svg);
    background-size: cover;
    background-position: center;
    filter: brightness(0) invert(.5);
  }
}

@media screen and (min-device-width: 360px) {
  .realty-facilities__list {
    columns: 2;
  }
}