<app-page-header theme="dark"></app-page-header>
<!-- Page: add-realty-page -->
<main class="add-realty-page">
    <header class="add-realty-page__header d-flex align-items-center text-center py-5">
        <div class="container">
            <h1 class="add-realty-page__title">Сдайте свое жилье</h1>
            <div class="add-realty-page__description lead">Качественно заполненное предложение повышает количество заказов</div>
        </div>
    </header>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="add-realty-page__renting-form">
                    <app-renting-form></app-renting-form>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5">
            <div class="col-md-10 offset-md-1">
                <div class="add-realty-page__ask-for-help">
                    <app-ask-for-help></app-ask-for-help>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /Page: add-realty-page -->
<app-page-footer></app-page-footer>
