<figure class="complex">
    <a href="javascript: void(0);" class="complex__image" style="background-image: url(https://vput.ru/cache/images/realties/483x315_focus/01.jpg_13.JPG);"></a>
    <figcaption class="complex__description">
        <h3 class="complex__title"><a href="javascript: void(0);" class="complex__link">Marina Fort Noks</a></h3>
        <ul class="complex__details">
            <li class="complex__detail">
                <span class="complex__number-of-apartments-label">Квартир:</span>
                <span class="complex__number-of-apartments">27</span>
            </li>
            <li class="complex__detail">
                <span class="complex__price-label">Цены:</span>
                <span class="complex__price">от €15</span>
            </li>
        </ul>
    </figcaption>
</figure>