<app-page-header></app-page-header>
<!-- Page: favorites-page -->
<main class="favorites-page">
    <section class="favorites-page__section">
        <div class="container py-4">
            <h1 class="favorites-page__title text-center mb-4" i18n>Список избранных вами предложений</h1>
            <!-- Common: realty-list -->
            <ul class="realty-list row" *ngIf="favorites">
                <li class="col-xl-3 col-lg-4 col-md-6 mb-3" *ngFor="let favoriteItem of favorites">
                    <app-realty [realty]="favoriteItem"></app-realty>
                </li>
            </ul>
            <!-- /Common: realty-list -->
        </div>
    </section>
</main>
<!-- /Page: favorites-page -->
<app-page-footer></app-page-footer>
