<div class="realty-share">
    <a
       class="realty-share__add-to-favorites mb-3 btn"
       data-toggle="button"
       aria-pressed="false"
       autocomplete="off">
        <app-icon name="heart" class="mr-2"></app-icon>
        <span class="realty-share__add-to-favorites-label-plus">Добавить в избранное</span>
        <span class="realty-share__add-to-favorites-label-minus">Убрать из избранного</span>
    </a>
    <section class="realty-share__socials-share">
        <h3 class="realty-share__title mb-3">
            <span class="realty-share__title-text">Поделиться</span>
        </h3>
        <ul class="realty-share__social-list">
            <li class="realty-share__social-list-item">
                <a href="http://www.facebook.com/sharer.php?m2w&u="
                   target="_blank"
                   title="Поделиться в Facebook"
                   class="realty-share__social-link"><app-icon [name]="'social-facebook'" [size]="2"></app-icon></a>
            </li>
            <li class="realty-share__social-list-item">
                <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl=&title="
                   target="_blank"
                   title="Добавить в Одноклассники"
                   class="realty-share__social-link"><app-icon [name]="'social-ok'" [size]="2"></app-icon></a>
            </li>
            <li class="realty-share__social-list-item">
                <a href="http://vk.com/share.php?url=&title=&description="
                   target="_blank"
                   title="Поделиться в ВК"
                   class="realty-share__social-link"><app-icon [name]="'social-vk'" [size]="2"></app-icon></a>
            </li>
            <li class="realty-share__social-list-item">
                <a href="https://twitter.com/intent/tweet?text=&url="
                   target="_blank"
                   title="Добавить в Twitter"
                   class="realty-share__social-link"><app-icon [name]="'social-twitter'" [size]="2"></app-icon></a>
            </li>
        </ul>
    </section>
</div>