

<!-- Common: list-of-complexes -->
<ul class="list-of-complexes row">
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex-item></app-complex-item>
    </li>
    
</ul>
<!-- /Common: list-of-complexes -->