


<app-page-header></app-page-header>

<!-- Page: page-offer -->



<main class="page-offer">
    <div class="container">
        <!-- Common: breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Главная</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Болгария</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Святой Влас</a></li>
                <li class="breadcrumb-item active"
                    aria-current="page">Студия - Форт Нокс Гранд Резорт</li>
            </ol>
        </nav>
        <!-- /Common: breadcrumb -->

        <div class="page-offer__image-slider">
            <app-offer-image-slider></app-offer-image-slider>
        </div>

        <div class="row">
            <div class="col-xl">
                <article class="page-offer__article py-4">
                    <header class="page-offer__header pb-3 border-bottom">
                        <h1 class="page-offer__title">Студия - Форт Нокс Гранд Резорт</h1>
                        <div class="page-offer__place lead">Болгария, Святой Влас, <a routerLink="/complex/" class="page-offer__complex">Комплекс Венера-палас</a></div>
                    </header>

                    <div class="page-offer__list-of-main-characteristics pt-4 border-bottom">
                        <app-offer-main-characteristics></app-offer-main-characteristics>
                    </div>

                    <div class="page-offer__offer-bedrooms py-4 border-bottom">
                        <app-offer-bedrooms></app-offer-bedrooms>
                    </div>

                    <div class="page-offer__offer-reviews py-4 border-bottom">
                        <app-offer-reviews></app-offer-reviews>
                    </div>

                    <div class="page-offer__offer-facilities py-4 border-bottom">
                        <app-offer-characteristics></app-offer-characteristics>
                    </div>

                    <div class="page-offer__offer-rules-of-residence py-4 border-bottom">
                        <app-offer-rules-of-residence></app-offer-rules-of-residence>
                    </div>

                    <div class="page-offer__offer-facilities py-4 border-bottom">
                        <app-offer-facilities></app-offer-facilities>
                    </div>

                    <div class="page-offer__offer-places-nearby py-4 border-bottom">
                        <app-offer-places-nearby></app-offer-places-nearby>
                    </div>

                    <div class="page-offer__offer-prices-for-the-period py-4 border-bottom">
                        <app-offer-prices-for-the-period></app-offer-prices-for-the-period>
                    </div>

                    <div class="page-offer__offer-short-description py-4 border-bottom">
                        <app-offer-short-description></app-offer-short-description>
                    </div>
                </article>
            </div>
            <div class="page-offer__aside-wrapper col-xl-auto">
                <a
                   class="page-offer__modal-toggle btn btn-primary"
                   data-target=".page-offer__modal"
                   data-toggle="modal">
                    <app-icon name="book" class="mr-2"></app-icon>
                </a>
                <div class="page-offer__modal"
                     tabindex="-1"
                     is-sticked>
                    <div class="page-offer__modal-dialog">
                        <aside class="page-offer__aside">
                            <div class="page-offer__offer-employed-by mb-3">
                                <app-offer-employed-by></app-offer-employed-by>
                            </div>
                            <div class="page-offer__form-booking mb-3">
                                <app-form-booking></app-form-booking>
                            </div>
                            <div class="page-offer__offer-insterested-in mb-3">
                                <app-offer-interested-in></app-offer-interested-in>
                            </div>
                            <div class="page-offer__offer-owner mb-3">
                                <app-offer-owner></app-offer-owner>
                            </div>
                            <div class="page-offer__offer-share mb-3">
                                <app-offer-share></app-offer-share>
                            </div>
                            <div class="page-offer__how-it-works">
                                <app-how-it-works></app-how-it-works>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-offer__offer-location-map pt-4">
        <app-offer-location></app-offer-location>
    </div>
    <div class="page-offer__complex bg-light pt-5 pb-3">
        <div class="container">
            <div class="page-offer__about-the-complex mb-4">
                <app-about-the-complex></app-about-the-complex>
            </div>
            <div class="page-offer__complex-offers">
                <app-complex-offers></app-complex-offers>
            </div>
        </div>
    </div>
    <div class="page-offer__similar-offers container py-5">
        <app-similar-offers></app-similar-offers>
    </div>
</main>
<!-- /Page: page-offer -->

<app-page-footer></app-page-footer>
