@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.registration-form__title {
  text-align: center;
  font-weight: 500;
  font-size: 1.75rem;
}
.registration-form__legend {
  text-align: center;
}