<form action="/clients/ajaxAdd/"
      method="post"
      class="registration-form">
    <h2 class="registration-form__title">Новый аккаунт</h2>
    <fieldset class="registration-form__fieldset">
        <legend class="registration-form__legend">через</legend>
        <div class="registration-form__social-authorization">
            <app-social-authorization></app-social-authorization>
        </div>
    </fieldset>
    <fieldset class="registration-form__fieldset">
        <legend class="registration-form__legend mb-3">или</legend>
        <div class="form-group">
            <input type="email"
                   name="login"
                   class="form-control form-control-lg"
                   required
                   placeholder="E-mail">
        </div>
        <div class="form-group mb-3">
            <input type="password"
                   name="password"
                   class="form-control form-control-lg"
                   required
                   placeholder="Пароль">
        </div>
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox"
                   checked
                   name="newsSubscribed"
                   class="custom-control-input"
                   id="newsSubscribed"
                   required>
            <label class="custom-control-label"
                   for="newsSubscribed">Подписаться на спец. предложения</label>
        </div>
    </fieldset>
    <button type="submit"
            class="btn btn-primary btn-lg w-100">Регистрация</button>
</form>