<app-page-header theme="dark"></app-page-header>
<!-- Page: user-partnership-page -->
<main class="user-partnership-page">
    <header class="page-cabinet__header text-center py-4">
        <div class="container">
            <h1 class="page-cabinet__title mb-0">Партнёрская программа</h1>
        </div>
    </header>
    <div class="container mb-4">
        <div class="row">
            <div class="col-xl-3 d-none d-xl-block">
                <aside class="user-bookings-page__aside">
                    <app-cabinet-navigation></app-cabinet-navigation>
                </aside>
            </div>
            <div class="col-xl-9">
                <div class="card mb-4">
                    <header class="card-header">Ваша партнёрская ссылка</header>
                    <div class="card-body bg-gray-50">
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-0">
                                    <input type="text"
                                           readonly
                                           value="https://vput.ru/?bonus=309"
                                           class="form-control form-control-lg">
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-info btn-lg">Копировать в буфер</button>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a href="javascript: void(0);" class="nav-link active" id="home-tab" data-toggle="tab" routerLink="#home" role="tab" aria-controls="home" aria-selected="true">Бонусы</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript: void(0);" class="nav-link" id="profile-tab" data-toggle="tab" routerLink="#profile" role="tab" aria-controls="profile" aria-selected="false">Рефераллы</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript: void(0);" class="nav-link" id="contact-tab" data-toggle="tab" routerLink="#contact" role="tab" aria-controls="contact" aria-selected="false">Траффик</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript: void(0);" class="nav-link" id="contact-tab" data-toggle="tab" routerLink="#contact" role="tab" aria-controls="contact" aria-selected="false">Настройки</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>

            </div>
        </div>
    </div>
</main>
<!-- /Page: user-partnership-page -->
<app-page-footer></app-page-footer>
