<app-page-header theme="dark"></app-page-header>

<!-- Page: page-transfers -->
<main class="page-transfers">
    <header class="page-cabinet__header text-center py-4">
        <div class="container">
            <h1 class="page-cabinet__title mb-0">Трансферы</h1>
        </div>
    </header>
    <div class="container mb-4">
        <div class="row">
            <div class="col-xl-3 d-none d-xl-block">
                <aside class="page-transfers__aside">
                    <app-cabinet-navigation></app-cabinet-navigation>
                </aside>
            </div>
            <div class="col-xl-9">
                <ul class="row">
                    <li class="col-12 mb-4">
                        <app-form-edit-transfer></app-form-edit-transfer>
                    </li>
                    <li class="col-12 mb-4">
                        <app-form-edit-transfer></app-form-edit-transfer>
                    </li>
                    <li class="col-12 mb-4">
                        <app-form-edit-transfer></app-form-edit-transfer>
                    </li>
                    <li class="col-12 mb-4">
                        <app-form-edit-transfer></app-form-edit-transfer>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!-- /Page: page-transfers -->

<app-page-footer></app-page-footer>
