

<!-- Common: realty-interested-in -->
<div class="realty-interested-in">
    <figure class="realty-interested-in__how-much">
        <div class="realty-interested-in__how-much-number">13</div>
        <figcaption class="realty-interested-in__how-much-description">человек интересовались этим объектом</figcaption>
    </figure>
    <figure class="realty-interested-in__time">
        <app-icon name="time-in" size="2" class="realty-interested-in__time-icon"></app-icon>
        <figcaption class="realty-interested-in__description">данные подсчитаны за прошлые сутки</figcaption>
    </figure>
</div>
<!-- /Common: realty-interested-in -->