@import "../../../../assets/libraries/bootstrap/bootstrap-reboot";

.page-realty__article h2,
.page-realty__complex h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-realty__place {
  color: $text-muted;
}
.page-realty__how-it-works {
  .how-it-works {
    height: 260px;
  }
}
.page-realty__modal-dialog {
  max-width: 375px;
}

.page-realty__modal-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1051;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: $transition-base;
}
.page-realty__aside-toggle-caption-hide {
  display: none;
}

@include media-breakpoint-down(lg) {
  .page-realty__aside {
    background-color: $white;
    padding: $card-spacer-y;
    border-radius: 0;
  }
}
@include media-breakpoint-up(xl) {
  .page-realty__modal,
  .page-realty__modal-dialog,
  .page-realty__modal {
    position: relative;
    display: block!important;
    opacity: 1!important;
    transform: initial!important;
  }
  .page-realty__aside {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .page-realty__modal-toggle {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .page-realty {
    .breadcrumb {
      display: none;
    }
  }

  .page-realty__article {
    h2 {
      font-size: $h4-font-size * .875;
    }
  }
}
@include media-breakpoint-down(xs) {
  .page-realty {
    .booking-form {
      padding: 0;
      background-color: initial;
    }
    .booking-form__table {
      background-color: $light;
    }
  }
}