<!-- Section: main-properties -->
<div class="main-properties" *ngIf="realty">
    <ul class="main-properties__list row">
        <li class="main-properties__list-item col-6 col-md">
            <figure class="main-properties__item">
                <app-icon name="guest" size="2" theme="dark"></app-icon>
                <figcaption class="main-properties__caption">
                    <h3 class="main-properties__title">Вмещает гостей</h3>
                    <div class="main-properties__value">{{realty.guests}}</div>
                </figcaption>
            </figure>
        </li>
        <li class="main-properties__list-item col-6 col-md">
            <figure class="main-properties__item">
                <app-icon name="door" size="2" theme="dark"></app-icon>
                <figcaption class="main-properties__caption">
                    <h3 class="main-properties__title">Кол-во комнат</h3>
                    <div class="main-properties__value">{{realty.rooms}}</div>
                </figcaption>
            </figure>
        </li>
        <li class="main-properties__list-item col-6 col-md">
            <figure class="main-properties__item">
                <app-icon name="bathroom" size="2" theme="dark"></app-icon>
                <figcaption class="main-properties__caption">
                    <h3 class="main-properties__title">Ванные</h3>
                    <div class="main-properties__value">{{realty.bathRooms}}</div>
                </figcaption>
            </figure>
        </li>
        <li class="main-properties__list-item col-6 col-md">
            <figure class="main-properties__item">
                <app-icon name="air-conditioner" size="2" theme="dark"></app-icon>
                <figcaption class="main-properties__caption">
                    <h3 class="main-properties__title">Кондиционер</h3>
                    <div class="main-properties__value">{{hasAirConditioner ? 'Есть' : 'Нет'}}</div>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>
<!-- /Section: main-properties -->