<!-- Section: offer-bedrooms -->
<section class="offer-bedrooms">
    <h2 class="offer-bedrooms__title mb-3">Спальные места:</h2>
    <ul class="list-of-offer-characteristics row">
        <li class="list-of-offer-characteristics__item col-md-6">
            <figure class="offer-characteristic">
                <app-icon name="sofa" class="mr-3"></app-icon>
                <figcaption class="offer-characteristic__caption">
                    <label class="offer-characteristic__label">Диван раскладной:</label>
                    <div class="offer-characteristic__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-offer-characteristics__item col-md-6">
            <figure class="offer-characteristic">
                <app-icon name="single-bed" class="mr-3"></app-icon>
                <figcaption class="offer-characteristic__caption">
                    <label class="offer-characteristic__label">Односпальная кровать:</label>
                    <div class="offer-characteristic__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-offer-characteristics__item col-md-6">
            <figure class="offer-characteristic">
                <app-icon name="bed" class="mr-3"></app-icon>
                <figcaption class="offer-characteristic__caption">
                    <label class="offer-characteristic__label">Двуспальная сплошная:</label>
                    <div class="offer-characteristic__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-offer-characteristics__item col-md-6">
            <figure class="offer-characteristic">
                <app-icon name="beds" class="mr-3"></app-icon>
                <figcaption class="offer-characteristic__caption">
                    <label class="offer-characteristic__label">Двуспальная раздвижная:</label>
                    <div class="offer-characteristic__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-offer-characteristics__item col-md-6">
            <figure class="offer-characteristic">
                <app-icon name="crib" class="mr-3"></app-icon>
                <figcaption class="offer-characteristic__caption">
                    <label class="offer-characteristic__label">Детская кровать:</label>
                    <div class="offer-characteristic__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-offer-characteristics__item col-md-6">
            <figure class="offer-characteristic">
                <app-icon name="lounge" class="mr-3"></app-icon>
                <figcaption class="offer-characteristic__caption">
                    <label class="offer-characteristic__label">Кресло раскладное:</label>
                    <div class="offer-characteristic__value">1</div>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
<!-- /Section: offer-bedrooms -->