

<!-- Common: modal-password-recovery -->
<div class="modal-password-recovery modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm"
         role="document">
        <div class="modal-password-recovery__content modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">Забыли пароль?</h2>
                <a
                   data-dismiss="modal"
                   class="close"><app-icon name="close" theme="light"></app-icon></a>
            </div>
            <div class="modal-body">
                <div class="mb-4">Пожалуйста, введите e-mail, который вы использовали при регистрации. На указанный e-mail будет отправлен код с дальнейшими инструкциями.</div>
                <div class="modal-password-recovery__form-recovery">
                    <app-form-recovery></app-form-recovery>
                </div>
            </div>
            <div class="modal-password-recovery__footer modal-footer">
                <a
                   class="modal-password-recovery__footer-link nav-link"
                   data-toggle="modal"
                   data-target=".modal-registration"
                   data-dismiss="modal">Регистрация</a>
                <a
                   class="modal-password-recovery__footer-link nav-link"
                   data-toggle="modal"
                   data-target=".modal-authorization"
                   data-dismiss="modal">Вход</a>
            </div>
        </div>
    </div>
</div>
<!-- /Common: modal-password-recovery -->