<ul class="complexes-list row">
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
    <li class="col-sm-6 col-lg-4 col-xl-3">
        <app-complex></app-complex>
    </li>
    
</ul>