<app-page-header></app-page-header>
<!-- Page: page-search -->
<main class="page-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 page-search__search-container">
                <div class="page-search__form-search-realty pt-4 pb-2 border-bottom">
                    <app-form-search-realty></app-form-search-realty>
                </div>
                <ul class="page-search__list-of-realty py-4 row" *ngIf="realtySearchResult">
                    <li class="col-sm-6 col-xl-4 mb-3" *ngFor="let realty of realtySearchResult.data">
                        <app-realty-item [realty]="realty"></app-realty-item>
                    </li>
                </ul>
                <app-pagination [currentPage]="realtySearchResult.current_page"
                                [lastPage]="realtySearchResult.last_page"
                                class="page-search__pagination"></app-pagination>
            </div>
            <div class="col-lg-4 page-search__map-container d-none d-lg-block">
                <div class="page-search__realty-on-the-map">
                    <agm-map [latitude]="42.70703948337048"
                             [longitude]="27.774349376531973"
                             class="h-100"
                             *ngIf="realtySearchResult">
                            <agm-marker [latitude]="realty.address.latitude"
                                        [longitude]="realty.address.longitude"
                                        *ngFor="let realty of realtySearchResult.data"></agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /Page: page-search -->

