@import "../../../../assets/libraries/bootstrap/bootstrap-reboot";

.page-search__realty-search-form {
  .realty-search-form__main-fieldset {
    .form-group {
      flex: 1 20%;
    }

    .realty-search-form__search-by-complexes-col,
    .realty-search-form__cityId-col {
      flex: 1 35%;
    }
  }
}

.realty-search-form__show-booked {
  margin-bottom: .5rem;
}

.page-search__realty-search-form {
  .realty-search-form__show-booked {
    position: absolute;
    bottom: -20px;
    background-color: $white;
    padding-right: $custom-control-spacer-x;
    margin-bottom: 0;
    white-space: nowrap;
  }
}

@include media-breakpoint-up(lg) {
  .page-search {
    position: fixed;
    top: 66px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .page-search__search-container {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .page-search__map-container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .page-search__realty-on-the-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}