


<app-page-header></app-page-header>

<!-- Page: page-search -->



<main class="page-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 page-search__search-container">
                <div class="page-search__form-search-realty pt-4 pb-2 border-bottom">
                    <app-form-search-realty></app-form-search-realty>
                </div>
                <div class="page-search__list-of-realty py-4">
                    <!-- List of realty -->
                    <ul class="list-of-realty row">
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                        <li class="col-sm-6 col-xl-4 mb-3">
                            <app-realty-item [realtyItem]="768"></app-realty-item>
                        </li>
                        
                    </ul>
                    <!-- /List of realty -->
                </div>
                <nav class="page-search__pagination">
                    <app-pagination></app-pagination>
                </nav>
            </div>
            <div class="col-lg-4 page-search__map-container d-none d-lg-block">
                <div class="page-search__realty-on-the-map">
                    <app-realty-on-the-map></app-realty-on-the-map>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /Page: page-search -->

