<!-- Block: cabinet-navigation -->
<nav class="cabinet-navigation nav flex-column nav-pills">
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/realties/">
        <app-icon name="poster" theme="primary" class="mr-2"></app-icon>
        Мои объявления
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/bookings/">
        <app-icon name="book" theme="primary" class="mr-2"></app-icon>
        Бронирования
        <span class="cabinet-navigation__badge badge badge-dark">99</span>
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/trips/">
        <app-icon name="suitcase" theme="primary" class="mr-2"></app-icon>
        Мои поездки <span class="cabinet-navigation__badge badge badge-dark">99</span>
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/profile/">
        <app-icon name="profile" theme="primary" class="mr-2"></app-icon>
        Профиль
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/transfers/">
        <app-icon name="car" theme="primary" class="mr-2"></app-icon>Трансферы
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/balance/">
        <app-icon name="credit-card" theme="primary" class="mr-2"></app-icon>
        Баланс
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/partnership/">
        <app-icon name="megaphone" theme="primary" class="mr-2"></app-icon>
        Партнерская программа
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/reviews/">
        <app-icon name="review" theme="primary" class="mr-2"></app-icon>
        Отзывы
        <span class="cabinet-navigation__badge badge badge-dark">99</span>
    </a>
    <a class="cabinet-navigation__link nav-link"
       routerLinkActive="active"
       routerLink="/cabinet/referral-bookings/">
        <app-icon name="group" theme="primary" class="mr-2"></app-icon>
        Бронирования рефералов
    </a>
</nav>
<!-- /Block: cabinet-navigation -->