@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.avatar {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: $dark;
  background-size: cover;
  background-position: center;
}
