<!-- Block: realty-item-carousel -->
<div class="realty-item-carousel">
    <button class="realty-item-carousel__arrow realty-item-carousel__arrow_slide_next slick-next slick-arrow"
            (click)="onActivate($event)"></button>
    <button class="realty-item-carousel__arrow realty-item-carousel__arrow_slide_prev slick-prev slick-arrow"
            (click)="onActivate($event)"></button>
    <nav class="realty-item-carousel__images-list"
         *ngIf="images"
         [style.background-image]="'url(https://vput.ru/api/image/realties/400x400/focus/' + images[0].id + '/)'"
         data-slick>
        <a href="javascript: void(0);"
           class="realty-item-carousel__link"
           *ngFor="let image of images">
            <img [attr.data-lazy]="'https://vput.ru/api/image/realties/400x400/focus/' + image.id + '/'"
                 class="realty-item-carousel__image">
        </a>
    </nav>
</div>
<!-- /Block: realty-item-carousel -->