<ul class="realty-ratings row">
    <li class="realty-ratings__item col-md-6">
        <label class="realty-ratings__label">Чистота:</label>
        <div class="realty-ratings__rating">
            <app-rating [rate]="3"></app-rating>
        </div>
    </li>
    <li class="realty-ratings__item col-md-6">
        <label class="realty-ratings__label">Соответствие описанию:</label>
        <div class="realty-ratings__rating">
            <app-rating [rate]="3"></app-rating>
        </div>
    </li>
    <li class="realty-ratings__item col-md-6">
        <label class="realty-ratings__label">Общение:</label>
        <div class="realty-ratings__rating">
            <app-rating [rate]="3"></app-rating>
        </div>
    </li>
    <li class="realty-ratings__item col-md-6">
        <label class="realty-ratings__label">Расположение:</label>
        <div class="realty-ratings__rating">
            <app-rating [rate]="3"></app-rating>
        </div>
    </li>
    <li class="realty-ratings__item col-md-6">
        <label class="realty-ratings__label">Владелец:</label>
        <div class="realty-ratings__rating">
            <app-rating [rate]="3"></app-rating>
        </div>
    </li>
    <li class="realty-ratings__item col-md-6">
        <label class="realty-ratings__label">Заселение:</label>
        <div class="realty-ratings__rating">
            <app-rating [rate]="3"></app-rating>
        </div>
    </li>
</ul>