<!-- Section: about-the-complex -->
<section class="about-the-complex">
    <div class="row">
        <div class="col-lg-5 col-xl-6">
            <app-photos-of-the-complex></app-photos-of-the-complex>
        </div>
        <div class="col-lg-7 col-xl-6">
            <div class="about-the-complex__complex-description mb-4 mb-lg-0">
                <app-description-of-the-complex></app-description-of-the-complex>
            </div>
            <div class="about-the-complex__characteristics-of-the-complex">
                <app-characteristics-of-the-complex></app-characteristics-of-the-complex>
            </div>
        </div>
    </div>
</section>
<!-- Section: about-the-complex -->