<!-- Section: realty-main-characteristics -->
<div class="realty-main-characteristics">
    <ul class="realty-main-characteristics__list row">
        <li class="realty-main-characteristics__list-item col-6 col-md">
            <figure class="realty-main-characteristics__item">
                <app-icon name="guest" size="2" theme="dark"></app-icon>
                <figcaption class="realty-main-characteristics__caption">
                    <h3 class="realty-main-characteristics__title">Вмещает гостей</h3>
                    <div class="realty-main-characteristics__value">3</div>
                </figcaption>
            </figure>
        </li>
        <li class="realty-main-characteristics__list-item col-6 col-md">
            <figure class="realty-main-characteristics__item">
                <app-icon name="door" size="2" theme="dark"></app-icon>
                <figcaption class="realty-main-characteristics__caption">
                    <h3 class="realty-main-characteristics__title">Кол-во комнат</h3>
                    <div class="realty-main-characteristics__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="realty-main-characteristics__list-item col-6 col-md">
            <figure class="realty-main-characteristics__item">
                <app-icon name="bathroom" size="2" theme="dark"></app-icon>
                <figcaption class="realty-main-characteristics__caption">
                    <h3 class="realty-main-characteristics__title">Ванные</h3>
                    <div class="realty-main-characteristics__value">1</div>
                </figcaption>
            </figure>
        </li>
        <li class="realty-main-characteristics__list-item col-6 col-md">
            <figure class="realty-main-characteristics__item">
                <app-icon name="air-conditioner" size="2" theme="dark"></app-icon>
                <figcaption class="realty-main-characteristics__caption">
                    <h3 class="realty-main-characteristics__title">Кондиционер</h3>
                    <div class="realty-main-characteristics__value">Есть</div>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>
<!-- /Section: realty-main-characteristics -->