<!-- Section: best-offers-of-the-week -->
<section class="best-offers-of-the-week">
    <h2 class="best-offers-of-the-week__title text-center mb-4">Лучшие апартаменты недели</h2>
    <div class="best-offers-of-the-week__list-of-offers">
        <!-- List of offers -->
        <ul class="list-of-offers row" data-slick-adaptive>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3">
                <app-offer-item></app-offer-item>
            </li>
            
        </ul>
        <!-- /List of offers -->
    </div>
</section>
<!-- /Section: best-offers-of-the-week -->