<app-page-header></app-page-header>
<!-- Page: complex-page -->
<main class="complex-page">
    <div class="pt-4 pb-2 border-bottom">
        <div class="container">
            <div class="complex-page__realty-search-form">
                <app-realty-search-form layout="short"></app-realty-search-form>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <section class="complex-page__section mb-4">
            <header class="complex-page__header">
                <h1 class="complex-page__title">Sunny View North,
                    <a href="javascript: void(0);" class="complex-page__city">Святой Влас, Болгария</a>
                </h1>
            </header>
            <div class="complex-page__complex-tabs">
                <app-complex-tabs></app-complex-tabs>
            </div>
        </section>
        <div class="complex-page__nearest-complexes">
            <app-nearest-complexes></app-nearest-complexes>
        </div>
    </div>
</main>
<!-- /Page: complex-page -->
<app-page-footer></app-page-footer>
