<div class="carousel swiper-container"
     [style.max-height]="maxHeight"
     [swiper]="options">
    <ul class="carousel__slides swiper-wrapper"
        *ngIf="images">
        <li class="carousel__slide swiper-slide" *ngFor="let image of images">
            <img [attr.data-src]="'https://vput.ru/api/image/realties/1300x800/focus/' + image.id"
                 class="carousel__image swiper-lazy">
        </li>
    </ul>
    <button class="carousel__button carousel__button_direction_prev"></button>
    <button class="carousel__button carousel__button_direction_next"></button>
</div>