@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.carousel {
  background-color: $dark;
  border-radius: $border-radius;
}
.carousel__slides {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.carousel__slide {
  background-repeat: no-repeat;
  background-image: url("/assets/images/common/preloader/preloader.svg");
  background-size: 3rem;
  background-position: center;
}
.carousel__image {
  width: 100%;
}
.carousel__button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  margin: auto;
  background-color: transparent;
  border-width: 0;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.carousel__button_direction_next {
  right: 1rem;
  background-image: url(/assets/libraries/slick-carousel/slick-carousel__arrow-right.svg);
}
.carousel__button_direction_prev {
  left: 1rem;
  background-image: url(/assets/libraries/slick-carousel/slick-carousel__arrow-left.svg);
}