<div class="carousel swiper-container"
     [style.height]="height"
     [swiper]="swiperOptions">
    <ul class="carousel__slides swiper-wrapper"
        *ngIf="images">
        <li class="carousel__slide swiper-slide"
            *ngFor="let image of images">
            <img [attr.data-src]="'https://vput.ru/api/image/realties/1300x800/focus/' + image.id"
                 class="carousel__image swiper-lazy">
        </li>
    </ul>
    <div class="carousel__pagination"></div>
    <a class="carousel__button carousel__button_to_prev swiper-button-prev"></a>
    <a class="carousel__button carousel__button_to_next swiper-button-next"></a>
</div>