<!-- Section: realty-rules-of-residence -->
<section class="realty-rules-of-residence">
    <h2 class="realty-rules-of-residence__title mb-3">Правила дома:</h2>
    <ul class="list-of-realty-characteristics row">
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="children" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">С детьми:</label>
                    <div class="realty-characteristic__value">Разрешено</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="time-in" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Время заезда:</label>
                    <div class="realty-characteristic__value">14:00</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="smoke" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Курить:</label>
                    <div class="realty-characteristic__value">Разрешено</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="time-out" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Время выезда:</label>
                    <div class="realty-characteristic__value">12:00</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="pets" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Питомцы:</label>
                    <div class="realty-characteristic__value">Разрешено</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="calendar" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Мин. срок аренды:</label>
                    <div class="realty-characteristic__value text-secondary">3 сутки</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="disabled" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Для инвалидов:</label>
                    <div class="realty-characteristic__value">Уточнить</div>
                </figcaption>
            </figure>
        </li>
        <li class="list-of-realty-characteristics__item col-md-6">
            <figure class="realty-characteristic">
                <app-icon name="safe-transaction" class="mr-3"></app-icon>
                <figcaption class="realty-characteristic__caption">
                    <label class="realty-characteristic__label">Гарантийный депозит:</label>
                    <div class="realty-characteristic__value text-secondary">Не требуется</div>
                </figcaption>
            </figure>
        </li>
    </ul>
</section>
<!-- /Section: realty-rules-of-residence -->