<div class="reviews-carousel swiper-container"
     [swiper]="swiperOptions"
     *ngIf="reviews">
    <ul class="reviews-carousel__slides swiper-wrapper">
        <li class="reviews-carousel__slide swiper-slide"
            *ngFor="let review of reviews">
            <app-realty [realty]="review.owner"
                             [hideDetails]="true"
                             class="reviews-carousel__realty mb-4"></app-realty>
            <app-review [review]="review"
                        [maxLength]="200"
                        class="reviews-carousel__review"></app-review>
        </li>
    </ul>
    <a class="reviews-carousel__button reviews-carousel__button_to_next swiper-button-next"></a>
    <a class="reviews-carousel__button reviews-carousel__button_to_prev swiper-button-prev"></a>
</div>