@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

.reviews-carousel {
  position: relative;
}
.reviews-carousel__slide {
  padding-left: 3rem;
  padding-right: 3rem;
}
.reviews-carousel__images {
  display: block;
}
.reviews-carousel__slides {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
