<!-- Section: similar-offers -->
<section class="similar-offers" *ngIf="similarOffers">
    <h2 class="similar-offers__title mb-4 text-center">Похожие предложения</h2>
    <div class="similar-offers__list-of-offers">
        <!-- list-of-offers -->
        <ul class="list-of-offers row" data-slick-adaptive>
            
            <li class="col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let offer of similarOffers">
                <app-offer-item [offer]="offer"></app-offer-item>
            </li>

        </ul>
        <!-- /list-of-offers -->
    </div>
    <div class="similar-offers__link-container mt-3 text-center">
        <a routerLink="/search/" class="btn btn-primary btn-lg">Посмотреть больше предложений</a>
    </div>
</section>
<!-- /Section: similar-offers -->