@import "../../../assets/libraries/bootstrap/bootstrap-reboot";

app-reviews-slider {
  display: block;
}
.reviews-slider {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  .realty-item__details {
    display: none;
  }
  .realty-item-carousel__image.slick-slide,
  .realty-item-carousel {
    height: 240px;
  }
}