<!-- Common: reviews-slider -->
<ul class="reviews-slider" data-slick>
    <li class="reviews-slider__item">
        <div class="reviews-slider__offer-item">
            <app-offer-item id="768"></app-offer-item>
        </div>
        <div class="reviews-slider__review">
            <app-review></app-review>
        </div>
    </li>
    <li class="reviews-slider__item">
        <div class="reviews-slider__offer-item">
            <app-offer-item id="768"></app-offer-item>
        </div>
        <div class="reviews-slider__review">
            <app-review></app-review>
        </div>
    </li>
    <li class="reviews-slider__item">
        <div class="reviews-slider__offer-item">
            <app-offer-item id="768"></app-offer-item>
        </div>
        <div class="reviews-slider__review">
            <app-review></app-review>
        </div>
    </li>
</ul>
<!-- /Common: reviews-slider -->